.container {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: min-content;
  justify-items: center;
  /* to keep footer always at the bottom  */
  flex: 1;
}
@media (max-width: 35rem) {
  .container {
    margin: 4rem 0 0 0;
    width: 100vw;
  }
}
@media (max-width: 30rem) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
