.container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 35rem) {
  .container {
    margin: 4rem 0 0 0;
    width: 100vw;
  }
}
@media (max-width: 30rem) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
