.navbar {
  top: 0;
  height: 4rem;
  width: 100%;
  background: linear-gradient(to right bottom, #f1c40f, #e67e22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 8px #000000;
  position: sticky;
  z-index: 100;
}
.navbar:hover {
  transition: 0.6s;
  box-shadow: 1px 3px 12px #000000;
}
.logo h2 {
  font-family: 'Gorditas', cursive;
}
.pages {
  display: flex;
  margin-right: 1rem;
}
.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 1rem;
}
.pages a {
  color: #f5f5f5;
  font-size: 1.2rem;
}
.pages a:hover {
  transition: 0.3s;
  scale: 1.1;
  text-shadow: 2px 3px #e74c3c;
  transform: rotate(-3deg);
}
.pages a:nth-of-type(1):hover,
.pages a:nth-of-type(2):hover {
  transform: rotate(3deg);
}
.navbar a img {
  height: 3rem;
  padding: 1rem;
}

.navbar a h2 {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 2px 2px 4px black;
  color: white;
  font-style: italic;
}
.burger-menu {
  display: none;
}

@media (max-width: 35rem) {
  .navbar .logo h2,
  .pages {
    display: none;
  }
  .burger-menu {
    padding: 0 1.4rem;
    display: flex;
  }
}
